/* Custom background with half blue and half white diagonal split */
#assignment {
  background: linear-gradient(155deg, #19286e 50%, #e3e8f0 50%);
  padding: 50px;
}

.service-box {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.service-box:hover {
  transform: translateY(-10px);
}

.icon {
  position: relative;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid #1c2d79; /* Blue border */
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h3 {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  margin-top: -20px;
}

p {
  font-family: "Outfit", sans-serif;
  margin-top: 8px;
}
